* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.wrapper {
    max-width: 1350px;
    width: 82%;
    margin: 0 auto;
}

body {
    background-image: url(image/body-background.jpg);
    background-size: cover;
}

header .wrapper {
    background-image: url(image/header-background.jpg);
    background-size: cover;
    background-position: top;
}

.book-img {
    height: 331px;
    width: 242px;
}

h2 {
    padding: 10px 0 216px 7%;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 0px 3px 3px #1b1a1a;
}

h2 a {
    color: #fafafa;
}

h1 a {
    color: #fafafa;
    text-transform: uppercase;
    margin-right: 20px;
}

h1 {
    font-size: 53px;
    padding: 5% 0 0 7%;
    font-weight: lighter;
    text-shadow: 0px 3px 5px #1b1a1a;
}

header ul {
    display: flex;
    padding : 25px 0;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

#active-link {
    color: #AED6F1;
}

header ul li {
    padding: 0 6%;
    list-style-type:none;
}

header ul li a {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: lighter;
}

header ul li a:hover {
    position: relative;
    top: -10px;
}

main {
    color: #5c5656;
}

main .wrapper {
    border-top: 10px #2251a8 solid;
    background-color: white;
    box-sizing: border-box;
}

.welcome {
    text-transform: capitalize;
}

main h3 {
    padding: 6% 0 0 4%;
    font-weight: 100;
    font-size: 30px;
}

main .description {
    padding: 20px 4% 0 4%;
    text-align: justify;
    font-weight: 500;
    font-size: 17px;
    line-height: 2em;
}

.book-slide-1 {
    list-style-type:none;
    display: flex;
    padding: 3% 2.5%;
}

.book-slide-2 {
    list-style-type:none;
    display: flex;
    padding: 0 2.5% 6% 2.5%;
}

figcaption {
    padding-top: 10px;
}

figure:hover {
    border: gray 10px solid;
    padding: 2px;
}

.book-slide-1 a, .book-slide-2 a {
    color: #5c5656;
    font-weight: bold;
}

.book-slide-1 li, .book-slide-2 li {
    margin: 0 10px 0 10px;
    text-align: center;
    text-transform: capitalize;
} 

.pagination {
    display: flex;
    list-style-type:none;
    padding-left: 40%;
    padding-bottom: 2%;
}

.pagination li a {
    color: #5c5656;
    background-color: darkgray;
    margin: 5px;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 15px;
}

#active-button {
    background-color: #1d3a70;
    color: white;
}

.need-help {
    margin-top: 5%;
    display: flex;
}

.logo-img {
    height: 100px;
    width: 100px;
}

.need-help {
    padding: 0px 30px 45px 30px;
}

.need-help div {
    padding: 30px;
    background-color: #1d3a70;
}

.need-help div h4, .need-help div p {
    color: white;
}

.need-help div h4 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 100;
}

.need-help div p {
    padding: 15px 0 30px 0;
    text-align: justify;
    line-height: 2em;
    font-weight: 500;
}

.need-help div a {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: capitalize;
}

footer .wrapper{
    background-color: #303030;
    padding: 20px 0 20px 0;
}

footer .wrapper div {
    text-align: center;
    text-transform: capitalize;
    color: white;
}

a[title="Tooplate"]:hover {
    font-size: 20px;
}

footer a {
    color: white;
}

#lower {
    text-transform: lowercase;
}

@media screen and (max-width: 1350px) {
    .book-img {
        height: 250px;
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .book-img {
        height: 200px;
        width: 150px;
    }

    header ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 764px) {

    .book-slide-1 {
        margin: 0 auto 0 auto;
    }

    .book-slide-2 {
        margin: 0 auto 20px auto;
    }

    .book-slide-1, .book-slide-2 {
        flex-direction: column;
    }

    header ul li a {
        font-size: 10px;
    }

    .pagination {
        padding-left: 40%;
    }

    figcaption {
        padding: 10px 0;
    }

}